header{
  margin-bottom: 75px;
}
footer {
  background-color: #343a40!important;
  color: #fff;
  min-height: 50px;
  padding: 10px 15px;
  margin-top: 10px;
}
.main-container, .main-container #sticky-sidebar{
  min-height: 834px;
}
.bd-sidebar {
  border-right: 1px solid rgba(0,0,0,.1);
  height: calc(100vh - 2rem);
}
.productImgThumbnail{
  height: 200px;
  width: 200px;
}
#productListSort{
  text-align: right;
}
#productListSort select{
  width: auto;
  display: inline-block;
  margin-left: 10px;
}

.react-autosuggest__container {
  position: relative;
}
.react-autosuggest__input {
  width: 83%;
  height: 39px;
  padding: 10px 20px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px;
  float: left;
  margin-right: 5px;
}
.react-autosuggest__input--focused {
  outline: none;
}
.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.react-autosuggest__suggestions-container {
  display: none;
}
.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  width: 83%;
  border: 1px solid #aaa;
  border-top: none;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
  top: 39px;
}
.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}
.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}

.p1[data-count]:after{
  position: absolute;
  right: 1%;
  top: 2px;
  content: attr(data-count);
  font-size: 10px;
  /* padding: .2em; */
  border-radius: 50%;
  line-height: 15px;
  color: white;
  background: rgba(255, 0, 0, 0.85);
  text-align: center;
  min-width: 15px;
  min-height: 15px;
}
.fa-stack{
  font-size: inherit !important;
  height: 20px !important;
  line-height: 40px !important;
  vertical-align: top !important;
}


.product-preview-pic img{
  height: 500px;
  width: 500px;
}
.product-details{
  padding: 15px 0px;
}

a{
  color: inherit !important;
}
a:hover{
  text-decoration: none !important;
}